# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [17]:
print("Eu sou Minerador de Dados!")

Eu sou Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [18]:
2+10

12

In [19]:
10-5

5

In [20]:
10*3

30

In [21]:
30/3

10.0

3) Imprima o tipo de um determinado valor inteiro.

In [22]:
type(100)

int

4) Converta o valor passado anteriormente para o tipo float

In [23]:
float(100)

100.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [24]:
str(100.0)

'100.0'

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [25]:
round(2.898)

3

In [26]:
round(2.4545455,4)

2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [27]:
nome="Felipe"
nome

'Felipe'

In [28]:
type(nome)

str

In [29]:
nome += " Santana"
nome

'Felipe Santana'

In [30]:
email, idade = 'felipesf05@gmail.com',30
email, idade

('felipesf05@gmail.com', 30)

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

Resposta: O Python não aceita declaração de variáveis utilizando palavras reservadas.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [31]:
frase= "Python é uma maldição!"
frase

'Python é uma maldição!'

In [32]:
frase[:6]

'Python'

In [33]:
len(frase)

22

In [34]:
frase="dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
frase.count('dados')

2

In [35]:
frase.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

In [36]:
frase.split(',')

['dados é o novo petróleo',
 ' em Deus eu confio',
 ' para o resto me traga dados..']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [37]:
idades = [18,22,45,38,78,25]

In [38]:
idades[1]

22

In [39]:
len(idades)

6

In [40]:
idades[1] = 30
idades

[18, 30, 45, 38, 78, 25]

In [41]:
idades[1:]

[30, 45, 38, 78, 25]

In [42]:
idades.remove(30)

In [43]:
salarios = [900,1200,1500,800,12587,10000]

In [47]:
10000 in salarios

True

In [45]:
max(salarios)

12587

In [46]:
min(salarios)

800

In [63]:
salarios.remove(1100)
salarios

[900, 1200, 1500, 800, 12587, 10000, 700, 990, 1100]

In [61]:
salarios.extend([990,1100])
salarios

[900, 1200, 1500, 800, 12587, 10000, 700, 1100, 990, 990, 1100]

In [64]:
salarios.index(800)

3

In [66]:
salarios.sort()
salarios

[700, 800, 900, 990, 1100, 1200, 1500, 10000, 12587]

In [67]:
salarios.sort(reverse=True)
salarios

[12587, 10000, 1500, 1200, 1100, 990, 900, 800, 700]